

<div ng-show="view=='0'">
	<div class="margin-lr-auto" style="width:50%; height: 50px;">
		<div class="whirly">
			spinner
		</div>		
	</div>
	<div class="loading-msg">spinner</div>

</div>
<div ng-show="view=='1'">
	play view
</div>




<div ng-click="play()">
	play
</div>
<div ng-click="pause()">
	pause
</div>
<div ng-click="stop()">
	stop
</div>
<div ng-click="lowFilter()">
	lowFilter
</div>

Use accelerometer 
<input type="checkbox" ng-checked='is_accelerometer_enabled' />
<form>
fsdg
	<input id="accel_range" type="range" ng-model="spatial_x" min="-10" max="10" step="0.1" value="0" >			
</form>


<form>
	playback rate
  <input type="range" ng-model="playback_rate" min="0" max="3" step="0.1" value="1">
</form>

<div id="gamma">
	print gamma
</div>
<div id="xPos">
	print xPos
</div>

<br/><br/><br/><br/>
<div id="reset">
	reset everything
</div>