

<div ng-show="view=='0'">
	<!-- loading view -->
	<div class="margin-lr-auto" style="width:50%; height: 50px;">
		<div class="whirly">
			spinner
		</div>		
	</div>
	<div class="loading-msg">spinner</div>

</div>
<div ng-show="view=='1'">
	<!-- play view -->
	<div class="col-xs-2" ng-click="changeView('l')">
		LA
	</div>
	<div class="col-xs-8 tac">
		Play View
	</div>
	<div class="col-xs-2" ng-click="changeView('r')">
		RA
	</div>		
</div>
<div ng-show="view==2">
	<!-- filter view -->
	<div class="row">
		<div class="col-xs-12 tac" ng-click="upDownArrowAction('u')">
			UA
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-12 tac">
			{{filter_view_selection_arr[f_v_s_p_index]}}
		</div>
	</div>		
	<div class="col-xs-2" ng-click="changeView('l')">
		LA
	</div>
	<div class="col-xs-8 tac">
		{{filter_view_selection_arr[f_v_s_c_index]}}
	</div>
	<div class="col-xs-2" ng-click="changeView('r')">
		RA
	</div>	
	<div class="row">
		<div class="col-xs-12 tac">
			{{filter_view_selection_arr[f_v_s_n_index]}}
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-12 tac" ng-click="upDownArrowAction('d')">
			DA
		</div>
	</div>		
</div>
<div ng-show="view==3">
	<!-- spatial sound view -->
	<div class="row">
		<div class="col-xs-2" ng-click="changeView('l')">
			LA
		</div>
		<div class="col-xs-8 tac">
			<p>Spatial Sound</p>
			Use accelerometer 
			<input type="checkbox" ng-model='is_accelerometer_enabled' />
			<form>
				<input id="accel_range" type="range" ng-model="spatial_x" min="-10" max="10" step="0.1" value="0" >			
			</form>
		</div>
		<div class="col-xs-2" ng-click="changeView('r')">
			RA
		</div>		
	</div>
</div>
<div ng-show="view==4">
	<!-- playback rate view -->
	<div class="col-xs-2" ng-click="changeView('l')">
		LA
	</div>
	<div class="col-xs-8 tac">
		<p>Playback Rate</p>
		Use GPS speed detector
		<input type="checkbox" ng-model='is_geolocation_enabled' />		
		<form>
			<input type="range" ng-model="playback_rate" min="0" max="3" step="0.1" value="1">
		</form>	
	</div>
	<div class="col-xs-2" ng-click="changeView('r')">
		RA
	</div>	
</div>



<div ng-click="play()">
	play
</div>
<div ng-click="pause()">
	pause
</div>
<div ng-click="stop()">
	stop
</div>
<div ng-click="lowFilter()">
	lowFilter
</div>



<br/><br/><br/><br/>
<div id="reset">
	reset everything
</div>