<div ng-show="view=='0'">
	<!-- loading view -->
	<div class="margin-lr-auto loadPosition row">
		<div class="loader col-xs-12">
			<div class="loader-inner ball-pulse-sync">
			    <div></div>
			    <div></div>
			    <div></div>
			</div>
		</div>		
	</div>
	<div class="loading-msg">spinner</div>
</div>

<!-- <div ng-show="view=='0'" class="loader loaderPost">


    <div class="loading-msg">spinner</div>
</div> -->



<!--
<div ng-show="view=='1'">
	<div class="row">
		<div class="col-xs-12 tac" ng-click="play()">
			Play
		</div>
	</div>		
	<div class="col-xs-2" ng-click="changeView('l')">
		LA
	</div>
	<div class="col-xs-8 tac">
		{{play_view_selection_center}}
	</div>
	<div class="col-xs-2" ng-click="changeView('r')">
		RA
	</div>		
	<div class="row">
		<div class="col-xs-12 tac" ng-click="stop()">
			Stop
		</div>
	</div>		
</div>
-->
<div ng-show="view==1">
	<!-- filter view -->
	<div class="filter">
		<div class="row uparrow">
			<div class="col-xs-4 tac"><p></p></div>
			<div class="col-xs-8 tac" ng-click="upDownArrowAction('u')">     <!-- border-b -->
				<p class="arrow2 top"> </p> 
			</div>
			<div class="col-xs-4 tac"><p></p></div>
		</div>

		<div class="row">
			<div class="col-xs-2" ng-click="changeView('l')">
				<p class="arrow left"></p>
			</div>
			<div class="col-xs-8">
				<div class="row">
					<div class="tac uncurrent">
						{{filter_view_selection_arr[f_v_s_p_index]}}
					</div>
				</div>
				<div class="row">
					<div class="tac current" >
						{{filter_view_selection_arr[f_v_s_c_index]}}
					</div>
				</div>
				<div class="row">
					<div class="tac uncurrent" >
						{{filter_view_selection_arr[f_v_s_n_index]}}
					</div>
				</div>				
			</div>
			<div class="col-xs-2" ng-click="changeView('r')">
				<p class="arrow right"></p>
			</div>			
		</div>

		<div class="row downarrow">
			<div class="col-xs-4 tac"><p></p></div>
			<div class="col-xs-8 tac" ng-click="upDownArrowAction('d')">
				<p class="arrow2 down"></p>
			</div>
			<div class="col-xs-4 tac"><p></p></div>
		</div>

<!--
		<div class="row">
			<div class="col-xs-12 tac uncurrent">
				{{filter_view_selection_arr[f_v_s_p_index]}}
			</div>
		</div>	

		<div class="col-xs-2" ng-click="changeView('l')">
			<p class="arrow left"></p>
		</div>

		<div class="col-xs-8 tac current" >
			{{filter_view_selection_arr[f_v_s_c_index]}}
		</div>

		<div class="col-xs-2" ng-click="changeView('r')">
			<p class="arrow right"></p>
		</div>	

		<div class="row">
			<div class="col-xs-12 tac uncurrent">
				{{filter_view_selection_arr[f_v_s_n_index]}}
			</div>
		</div>	

		<div class="row up-down">
			<div class="col-xs-12 tac" ng-click="upDownArrowAction('d')">
				<p class="arrow2 down"> </p>
			</div>
		</div>	
-->
	</div>	
</div>

<div ng-show="view==2">
	<!-- spatial sound view -->
	<div class="filter">
		<div class="row">
			<div class="uparrow"></div>
			<div class="col-xs-2" ng-click="changeView('l')">
				<p class="arrow left"></p>
			</div>

			<div class="col-xs-8 tac">
				<p class="current">Spatial Sound</p>
				<div class="tickBox">Use accelerometer <input type="checkbox" ng-model='is_accelerometer_enabled' /></div>
				<form>
					<input id="accel_range" type="range" ng-model="spatial_x" min="-10" max="10" step="0.1" value="0" >			
				</form>
			</div>

			<div class="col-xs-2" ng-click="changeView('r')">
				<p class="arrow right"></p>
			</div>

		</div>
	</div>	
</div>

<div ng-show="view==3">
	<!-- playback rate view -->
	<div class="filter">
		<div class="row">
			<div class="uparrow"></div>
			<div class="col-xs-2" ng-click="changeView('l')">
				<p class="arrow left"></p>
			</div>

			<div class="col-xs-8 tac">
				<p class="current">Playback Rate</p>
				<div class="tickBox">Use GPS speed detector<input type="checkbox" ng-model='is_geolocation_enabled' /></div>
				<form>
					<input type="range" ng-model="playback_rate" min="0" max="3" step="0.1" value="1">
				</form>	
			</div>

			<div class="col-xs-2" ng-click="changeView('r')">
				<p class="arrow right"></p>
			</div>

		</div>
	</div>	
</div>



<br/><br/>

<button type="button" class="btn btn-default btn-lg btn-block play" ng-show="view!='0'" ng-click="play()">
	Play
</button>

<button type="button" class="btn btn-default btn-lg btn-block play" ng-show="view!='0'" ng-click="stop()">
	Stop
</button>

<!-- <div ng-show="view!='0'" ng-click="play()" class="play">
	Play
</div> -->

<br/>

<!-- <div ng-show="view!='0'" ng-click="stop()" class="stop">
	Stop
</div> -->

<br/><br/><br/><br/>

<button type="button" class="btn btn-default btn-lg btn-block save" ng-show="view!='0'" ng-click="saveDb()">
	Save the setting
</button>

<button type="button" class="btn btn-default btn-lg btn-block reset"  ng-show="view!='0'" ng-click="resetDb()">
	Reset the setting
</button>

<!-- <div ng-show="view!='0'" ng-click="saveDb()" class="save">
	Save the setting
</div>
 -->
<!-- <div ng-show="view!='0'" ng-click="resetDb()" class="reset">
	Reset the setting
</div> -->
