
html, body {
  display: table-cell;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

html 
{ display: table }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

/*  .filter{
    background-color: #123;
  }*/
}

@media (max-width: 768px) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 10px;
    background: #777777;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #F9903A;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #777777;
}


.spinner-container{
  width: 50%;
  height: 200px;

/*  top: 70%;
  left: 70%;*/

  -webkit-border-radius: 84px;
  -moz-border-radius: 84px;
  border-radius: 84px;

  border:1px solid #A1A1A1;
  background-color:#FFFFFF;

  -webkit-box-shadow: #B3B3B3 7px 7px 7px;
  -moz-box-shadow: #B3B3B3 7px 7px 7px;
  box-shadow: #B3B3B3 7px 7px 7px;
}

.spinner-container img{
/*  margin-left: 50%;
  margin-right: 50%;*/
  width: 20%;
}

.loading-msg {
  text-align: center;
  color: #F77D0F;
  margin-top: 5%;
  font-weight: bold;
  font-size: 10pt;
}

.loadPosition{
  margin-top: 35%;
  padding-left: 36%;
}


/*------------------------------ocean'styling starting from here------------------------------------------------*/
/* question1: what is spinner- container*/


* body{
   /* background-image: url("/images/background.jpg");*/
    background-color: #f2f2f4;
}

.title{
  text-align: center;
  margin-bottom: 5%;
  margin-top: 15%;
}

.appName{
  text-align: center;
  font-size: 4rem;
  color: #F77D0F;

}

.title > p{
  padding: 10px;
}


 /*playpage styling*/
.filter{
  margin-top: 2%;
  margin-bottom: 15%;
}

.play{
  text-align: center;
}

.stop{
  text-align: center;
}

.save{
  /*display: inline;*/
    text-align: center;
}

.reset{
  /*display: inline;*/
    text-align: center;
}

.current{
  font-size: 9vmin;
  color: #F78824;
  font-weight: bold;
  text-align: center;
  border: 1em;
}

.uncurrent{
  font-size: 6vmin;
  text-align: center;
  border: 1em;
}

.uparrow{
  margin-bottom: 20%;
}

.downarrow{
  margin-top: 10%;
  margin-bottom: 5%;
}

.tickBox{
  margin-bottom: 10%;
}


/*arrow left and right*/
/* Actual arrows
----------------------*/

.arrow{ }
.arrow::before{ content:'';
  display:block; 
  padding:8vmin;
  box-shadow:-1px -1px 0 1px #cdcdcd; 
  cursor:pointer; 
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg); 
  -webkit-transition:.3s;
  transition:.3s; }
.arrow:hover::before{ box-shadow:-2px -2px 0 2px #F78824; }
.arrow.right::before{ box-shadow:1px 1px 0 1px #cdcdcd; }
.arrow.right:hover::before{ box-shadow:2px 2px 0 2px #F78824; }

 
/* Basic page reset for this demo
--------------------------------------*/
/*  
.arrow{ position:absolute; margin-left: 12.5%; margin-right: 12.5%;}*/


/*arrow up and down*/
/* Actual arrows
----------------------*/

.arrow2{ }
.arrow2::before{ content:'';
  display:block; 
  padding:8vmin; 
  width: 100%;
  box-shadow:-1px -1px 0 1px #cdcdcd; 
  cursor:pointer; 
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg); 
  -webkit-transition:.3s;
  transition:.3s; }
.arrow2:hover::before{ box-shadow:-2px -2px 0 2px #F78824; }
.arrow2.down::before{ box-shadow:1px 1px 0 1px #cdcdcd; }
.arrow2.down:hover::before{ box-shadow:2px 2px 0 2px#F78824; }
 
 
/* Basic page reset for this demo
--------------------------------------*/

.arrow2{ position:absolute; margin-left: 8%; margin-right: 15%;}

.RightArrow{
  margin-left: -23pt;
}

.LeftArrow{
   margin-right: -20pt;
}